.project {
  display: flex;
  background-color: var(--color-background-primary);
  gap: 1rem;
  border-radius: 0.5rem;
  padding: 1rem;
  overflow: hidden;
  color: var(--color-text);
  max-width: 25rem;
}

.project__description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-right: 1rem;
}

.project__description h3 {
  font-size: clamp(1.2rem, 1rem + 1vw, 1.8rem);
  font-weight: 700;
}

.project__description p {
  font-size: clamp(1rem, 1rem + 1vw, 1.1rem);
  margin-top: 0.5rem;
  max-width: 35ch;
  line-height: 1.4rem;
  opacity: 0.8;
}

.project__image {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  position: relative;
  overflow: hidden;
  border-radius: 0.2rem;
}

.project__mobile {
  width: clamp(3.5rem, 10vw + 2rem, 5rem);
  position: absolute;
  right: 1rem;
}

.project__desktop {
  width: clamp(15rem, 10vw + 3rem, 20rem);
}

.project__action {
  display: flex;
  gap: 0.5rem;
  margin-top: 0.8rem;
}

.project--vertical {
  width: fit-content;
  flex-direction: column;
  align-items: center;
}

.project--vertical .project__description {
  text-align: center;
  justify-content: center;
  padding-right: 0rem;
  width: 100%;
}

.project--vertical .project__image {
  width: 100%;
}

.project--vertical .project__description p {
  max-width: none;
}

.project > * {
  width: fit-content;
}
@media (min-width: 50rem) {
  .project {
    max-width: none;
  }

  .project--vertical .project__image {
    flex: 1;
  }
}

@media (min-width: 70rem) {
  .project__mobile {
    width: clamp(4.5rem, 7vw, 6.5rem);
  }

  .project__description h3 {
    font-size: clamp(1.2rem, 1rem + 0.5vw, 1.8rem);
  }

  .project__mobile {
    width: clamp(2.5rem, 5vw + 1rem, 5.8rem);
  }

  .project__desktop {
    width: 15dvw;
  }
  .project--vertical .project__desktop {
    width: clamp(10rem, 20vw, 18rem);
    max-width: none;
  }
  .project--vertical .project__mobile {
    width: clamp(2.5rem, 5vw + 2rem, 6rem);
  }
}
