.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem 10dvw;
}

.navbar > a {
  font-size: 1.1rem;
  flex: 0.15;
}

.navbar__links_wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex: 0.8;
}

.navbar__links_wrapper ul {
  display: flex;
  align-items: center;
  gap: 3.5dvw;
}
