.experience__box {
  display: flex;
  width: fit-content;
  justify-content: center;
  align-items: center;
  padding: 1.5rem;
  background-color: var(--color-background-secundary);
  gap: 1.5rem;
  height: fit-content;
  width: fit-content;
  border-radius: 1rem;
  position: relative;
  color: var(--color-text);
}

.experience__box__description {
  flex: 1;
}

.experience__box__description span {
  font-weight: 900;
  font-size: 1.3rem;
  letter-spacing: 1px;
  color: var(--color-accent);
}

.experience__box__description h3 {
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 1px;
  margin-top: 0.2rem;
  opacity: 1;
}

.experience__box__description p {
  margin-top: 0.5rem;
  opacity: 0.8;
  max-width: 30rem;
}

.experience__box__image {
  display: none;
}

@media (min-width: 60rem) {
  .experience__box {
    height: 13.7rem;
    width: 43.7rem;
    border-radius: 5rem 50rem 50rem 5rem;
    transform: translateX(-5rem);
  }

  .experience__box__image {
    display: flex;
    flex: 0.39;
    align-self: stretch;
    justify-content: center;
    align-items: center;
    border-radius: 150rem;
    width: 100%;
  }

  .experience__box__image img {
   max-width: 7rem;
  }

  .experience__box--secundary {
    transform: translateX(5rem);
  }
}
