.hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--color-background-primary);
  color: var(--color-text);
  padding-inline: 10dvw;
}

.hero__description {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.hero__description div:first-of-type {
  display: flex;
  align-items: center;
  margin-bottom: 1.5rem;
  gap: 1.5rem;
}

.hero__description h1 {
  font-size: clamp(2rem, 8vw, 4rem);
  align-items: center;
  max-width: 15ch;
}

.hero__description p {
  font-size: clamp(1rem, 4vw, 1.2rem);
  max-width: 40ch;
  opacity: 0.7;
  margin-block: clamp(0.8rem, 2vw, 1rem);
}

.hero__projects {
  font-size: 1.1rem;
  font-weight: 600;
  position: relative;
}

.hero__arrow {
  position: absolute;
  right: 0;
}

@media (min-width: 65rem) {
  .hero {
    flex-direction: row;
  }

  .hero__image {
    order: 2;
  }

  .hero__description {
    order: 1;
    align-items: start;
    text-align: left;
    justify-content: start;
  }

  .hero__description h1 {
    max-width: 15ch;
    font-size: 3.5rem;
  }
  .hero__projects {
    transition: 300ms ease-in;
  }

  .hero__projects:hover {
    opacity: 0.5;
  }
}
