.project_section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 4rem 5dvw;
  background-color: var(--color-background-secundary);
  gap: 1.5rem;
}

.project_section__list {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1rem;
}

@media (min-width: 70rem) {
  .project_section {
    align-items: center;
    padding: 4rem 10dvw;
  }
  .project--long {
    grid-row: span 2;
    height: auto;
  }

  .project_section__list {
    grid-template-columns: 1fr 0.5fr;
    margin-inline: auto;
  }
}
