.button {
  background-color: var(--color-accent);
  color: #fff;
  padding: 0.8rem 2rem;
  font-size: 1.1rem;
  font-weight: 600;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 300ms ease-in;
}

.button:not(.button--disable):hover {
  opacity: 0.5;
}

.button--secundary {
  background-color: transparent;
  color: var(--color-text);
}
.button--disable {
  opacity: 0.4;
}
